這是字體* {
    font-family: "Comic Sans MS", cursive !important;
}

.bg-primary {
    background-color: transparent !important;
    background-image: url(../assets/img/左邊背景.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 :root {
    --bs-primary: #b7b397;
    --bs-secondary: #b7b397;
    --bs-link-hover-color: #5f624e;
 }
 
 section#about.resume-section {
    background-color: rgb(228,228,220); 
 }
 section#experience.resume-section {
    background-image: url(../assets/img/背景圖之二.jpg);
 }
 .social-icons .social-icon {
    background: #5f624e;
    color:#b7b397;
 }
 .social-icons .social-icon:hover {
    transition: 0.5s ease;
    background: #b7b397;
    color:#5f624e;
 }
 .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color:#5f624e;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
 }
 
 
 .nav-link:hover {
    color: #5f624e;
    font-size: 150%;
 }
 
 
 .nav-link:active {
    color:#5f624e !important;
 }
 
 
學號mail
 a.link{
    padding: 0px 20px;
    margin-left: 10px;
    border-radius: 50px;
    color: rgb(95,98,78);
    margin-top: auto;
    margin-bottom: 16px;
    display: inline-block;
  }
   a.link{
    background-color: rgb(183, 179, 151);
    border: 2px solid rgb(95,98,78);
    padding: 5px 30px 5px 30px;
    margin: 0px 0px 0px 20px;
  }
   a.link:hover{
    background-color:rgb(95,98,78);
    color: rgb(183, 179, 151);
  }
 
教育

.education {
	width: min(500px, 95vw);
}

.education__heading {
	padding-inline-start: 4rem;
}

.education__heading h4 {
	font-size: 2rem;
	margin-block: 0.5rem;
}

.education__content {
	position: relative;
	padding: 1rem 1rem 1rem 4rem;
	cursor: pointer;
	
}

.education__content h5 {
	color: hsl(0deg 0% 0% / 90%);
	font-size: 1rem;
	margin-block: 0;
}

.education__content p {
	color: hsl(0deg 0% 0% / 60%);
	font-size: 0.9rem;
	margin-block-start: 0.5rem;
	margin-block-end: 0;
}

.education__content .year {
	position: absolute;
	width: 2rem;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.6rem;
	color: hsl(0deg 0% 100%);
	border-radius: 50%;
	background-color: hsl(0deg 0% 70%);
	box-shadow: inset 0 0 0 1px hsl(0deg 0% 100%);
	border: 1px solid hsl(0deg 0% 70%);
	left: 1rem;
	top: 0.74rem;
}

.education__content:hover {
	background-color: hsl(0deg 0% 90% / 48%);
	border-radius: 0.25rem;
}

.education__content:not(:last-child)::before {
	position: absolute;
	content: "";
	width: 4px;
	background-color: hsl(0deg 0% 87%);
	left: calc(2rem - 2px);
	top: 2.74rem;
	bottom: -0.74rem;
	z-index: -1;
}


 卡包.conbg {
    width: 100%;
    height: 500px;
  }
  .bg2 {
    z-index: 2;
    position: relative;
    width: 70%;
    margin: 100px auto;
    transform: rotate(10deg);
    background-image: url(../assets/img/關主.jpg);
    background-size: cover;
    background-position: right -50px;
    background-color: lightslategray;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  }
  .bg1 {
    z-index: 3;
    position: relative;
    margin: auto;
    transform: rotate(-5deg);
    background-image: url(../assets/img/主持.jpg);
    background-size: cover;
    background-position: right -70px;
    background-color: lightslategray;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  }
  .bg {
    z-index: 4;
    position: relative;
    margin: auto;
    transform: rotate(-5deg);
    height: 500px;
    background-image: url(../assets/img/班輔.jpg);
    background-size: cover;
    background-position: right -50px;
    background-color: lightslategray;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  }
  .bg-text {
    width: 100%;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
  }
  .bg-text a {
    margin: 5px;
    float: right;
  }
  
  #bg1:target .bg {
    animation: ciut 1s forwards;
  }
  #bg1:target {
    animation: fre 0.3s forwards;
  }
  #bg2:target .bg1 {
    animation: ciut 1s forwards;
  }
  #bg2:target {
    animation: fre1 0.3s forwards;
  }
  #conbg:target .bg2 {
    animation: ciut1 1s;
  }
  @keyframes fre1 {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes fre {
    0% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  @keyframes ciut {
    0% {
      opacity: 1;
      transform: rotate(-5deg) scale(1);
    }
    100% {
      opacity: 0;
      transform: rotate(360deg) scale(0);
    }
  }
  @keyframes ciut1 {
    0% {
      opacity: 0;
      transform: rotate(0deg) scale(0);
    }
    100% {
      opacity: 1;
      transform: rotate(370deg) scale(1);
    }
}


  .accord {
    width: 610px;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    overflow: hidden;
    border: white 3px solid;
    background-color: white;
    transition: all 0.8s ease;
  }
  .accord ul li {
    width: 150px;
    display: block;
    float: left;
    position: relative;
    border-left: 2px solid white;
    height: 400px;
    transition: all 0.5s ease, opacity 0.2s ease;
    opacity: 0.8;
  }
  .accord ul li img {
    width: 300px;
    height: inherit;
  }
  .title {
    transition: all 0.5s ease-in;
    position: absolute;
    bottom: 0;
    width: 300px;
    display: block;
    background-color: rgba(89, 89, 89, 0.4);
  }
  .title a {
    font-size: 110%;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    padding: 20px;
    color: white;
  }
  .accord:hover {
    box-shadow: 6px 6px 10px 5px grey;
    transform: scale(1.1, 1.1);
  }
  .accord ul:hover li {
    width: 100px;
  }
  .accord ul li:hover {
    width: 300px;
    opacity: 1;
  }

  